.container
{
    background-color: #f8f4ff;
    padding: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: row;
    & ul {
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        gap: 20px;
    & li
    {
        cursor: pointer;
        & > .desc
        {
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: center;
            gap: 5px;
        }
        }
    }
}