.container
{
    width: 20px;
    height: 20px;
    border: 0px solid #1e90ff;
    display: inline-block;
    border-top: 1px solid #1e90ff;
    border-left: 1px solid #1e90ff;
    transition: all 0.3s;

}

